:root {
  --PrimaryColor: hsl(190, 100%, 50%);
  --HoverColor: #90ecff;
  --PaleColor: hsl(190, 72%, 70%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
  --BiggestFontSize: 2rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormalFontSize: .938rem;
  --SmallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

.clothSection {
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 0 2rem;
}
.clothSection .search {
  padding: 0.8rem 1rem;
  float: left;
  border: 1px rgba(0, 0, 0, 0.281) solid;
  width: 260px;
  height: 35px;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  left: 40%;
}
.clothSection .search:hover {
  cursor: pointer;
}
.clothSection .search input {
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextColor);
}
.clothSection .topMenu {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 2rem;
}
.clothSection .topMenu .buttonDiv {
  gap: 2rem;
  display: flex;
  padding: 2rem 0;
}
.clothSection .topMenu .buttonDiv button {
  background-color: var(--InputColor);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--NormalFontSize);
  color: var(--TextColor);
  cursor: pointer;
  border: none;
}
.clothSection .topMenu .buttonDiv .dark {
  background-color: var(--BlackColor);
  color: var(--WhiteColor);
}
.clothSection .bodyDiv {
  display: flex;
  padding: 0.5rem 1rem 1rem;
}
.clothSection .bodyDiv .leftMenu {
  display: block;
  width: 165px;
  position: static;
  margin-right: 12px;
  z-index: 0;
  flex-shrink: 0;
}
.clothSection .bodyDiv .leftMenu .leftList {
  border-bottom: 1px solid #e7e9ec;
  padding: 1rem 0;
}
.clothSection .bodyDiv .leftMenu .leftList h3 {
  font-size: var(--h2FontSize);
  padding-left: 1rem;
}
.clothSection .bodyDiv .leftMenu .leftList button {
  display: block;
  margin: 2rem 1rem;
  background-color: transparent;
  border-radius: 100%;
  font-size: var(--NormalFontSize);
}
.clothSection .bodyDiv .leftMenu .leftList .bold {
  font-weight: 900;
  font-size: var(--h3FontSize);
}
.clothSection .bodyDiv .leftMenu .leftListColor {
  border-bottom: 1px solid #e7e9ec;
  padding: 2rem 0;
}
.clothSection .bodyDiv .leftMenu .leftListColor h3 {
  margin-bottom: 1rem;
}
.clothSection .bodyDiv .leftMenu .leftListColor .colorSection {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 1rem;
}
.clothSection .bodyDiv .leftMenu .leftListColor .colorSection .colorDiv {
  margin: auto;
  text-align: center;
}
.clothSection .bodyDiv .leftMenu .leftListColor .colorSection .colorDiv button {
  display: block;
  margin: 1rem;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  font-size: var(--SmallestFontSize);
  color: transparent;
}
.clothSection .bodyDiv .leftMenu .leftListColor .colorSection .colorDiv .bold {
  font-size: 1rem;
  color: var(--WhiteColor);
}
.clothSection .bodyDiv .leftMenu .leftListColor .colorSection .colorDiv p {
  font-size: var(--SmallFontSize);
}
.clothSection .bodyDiv .itemSection {
  display: flex;
  flex-direction: column;
}
.clothSection .bodyDiv .itemSection .topSmall {
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
}
.clothSection .bodyDiv .itemSection .topSmall .priceDiv select {
  padding: 0.4rem, 0.5rem;
}
.clothSection .bodyDiv .itemSection .topSmall .itemCount {
  margin: 0 4rem 2rem;
  color: var(--TextColor);
}
.clothSection .bodyDiv .itemSection .itemLists {
  display: flex;
  flex-basis: 90%;
  height: 500px;
  justify-content: center;
  flex-wrap: wrap;
}
.clothSection .bodyDiv .itemSection .itemLists .itemCard {
  margin: 1rem;
  width: 260px;
  height: 400px;
  background-color: var(--WhiteColor);
}
.clothSection .bodyDiv .itemSection .itemLists .itemCard img {
  width: 95%;
  height: 60%;
}
.clothSection .bodyDiv .itemSection .itemLists .itemCard .itemText {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.clothSection .bodyDiv .itemSection .itemLists .itemCard .itemText h3 {
  padding-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  .clothSection {
    position: absolute;
    top: 15%;
  }
}/*# sourceMappingURL=Clothing.css.map */