:root {
  --PrimaryColor: hsl(190, 100%, 50%);
  --HoverColor: #90ecff;
  --PaleColor: hsl(190, 72%, 70%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
  --BiggestFontSize: 2rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormalFontSize: .938rem;
  --SmallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

.navDiv {
  z-index: 100 !important;
}

.access__Section {
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 0 auto;
}
.access__Section .search__Container {
  padding: 0.8rem 1rem;
  float: left;
  border: 1px rgba(0, 0, 0, 0.281) solid;
  width: 260px;
  height: 35px;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  left: 40%;
}
.access__Section .search__Container:hover {
  cursor: pointer;
}
.access__Section .search__Container input {
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--TextColor);
  background-color: transparent;
}
.access__Section .access__topMenu {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 2rem;
}
.access__Section .access__topMenu .access__buttonDiv {
  gap: 2rem;
  display: flex;
  padding: 2rem 0;
}
.access__Section .access__topMenu .access__buttonDiv .access__mobileButton {
  display: none;
}
.access__Section .access__topMenu .access__buttonDiv button {
  background-color: var(--InputColor);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--NormalFontSize);
  color: var(--TextColor);
  cursor: pointer;
  border: none;
}
.access__Section .access__topMenu .access__buttonDiv .dark {
  background-color: var(--BlackColor);
  color: var(--WhiteColor);
}
.access__Section .access__bodyDiv {
  display: flex;
  padding: 0.5rem 1rem 1rem;
}
.access__Section .access__bodyDiv .access__leftMenu {
  display: block;
  width: 220px;
  position: static;
  margin-right: 1rem;
  z-index: 0;
  flex-shrink: 0;
}
.access__Section .access__bodyDiv .access__leftMenu .closeBtn {
  display: none;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftList {
  border-bottom: 1px solid #e7e9ec;
  padding: 1rem 0;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftList h3 {
  font-size: var(--h2FontSize);
  padding-left: 1rem;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftList button {
  display: block;
  margin: 2rem 1rem;
  background-color: transparent;
  font-size: var(--NormalFontSize);
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftList .bold {
  font-weight: 900;
  font-size: var(--h3FontSize);
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor {
  border-bottom: 1px solid #e7e9ec;
  padding: 2rem 0;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor h3 {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor .access__colorSection {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 1rem;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor .access__colorSection .access__colorDiv {
  margin: auto;
  text-align: center;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor .access__colorSection .access__colorDiv button {
  display: block;
  margin: 1rem;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  font-size: var(--SmallestFontSize);
  color: transparent;
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor .access__colorSection .access__colorDiv .bold {
  font-size: 1rem;
  color: var(--WhiteColor);
}
.access__Section .access__bodyDiv .access__leftMenu .access__leftListColor .access__colorSection .access__colorDiv p {
  font-size: var(--SmallFontSize);
}
.access__Section .access__bodyDiv .access__itemSection {
  display: flex;
  flex-direction: column;
}
.access__Section .access__bodyDiv .access__itemSection .access__topSmall {
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
}
.access__Section .access__bodyDiv .access__itemSection .access__topSmall .access__priceDiv select {
  padding: 0.4rem, 0.5rem;
}
.access__Section .access__bodyDiv .access__itemSection .access__topSmall .access__itemCount {
  margin: 0;
  color: var(--TextColor);
}
.access__Section .access__bodyDiv .access__itemSection .access__itemLists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard {
  margin: 2rem 0.5rem;
  width: 300px;
  height: 400px;
  background-color: var(--WhiteColor);
}
.access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard img {
  width: 100%;
  height: 60%;
}
.access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText h3 {
  padding-top: 1rem;
}

@media only screen and (max-width: 1000px) {
  .access__Section {
    top: 18%;
    padding: 0 auto;
  }
  .access__Section .access__bodyDiv {
    width: 100vw;
  }
  .access__Section .access__bodyDiv .access__leftMenu {
    width: 180px;
    margin-right: 1rem;
  }
  .access__Section .access__bodyDiv .access__itemSection {
    margin-left: 1rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__topSmall {
    display: flex;
    padding: 1rem 0 1rem;
    justify-content: space-between;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__topSmall .access__itemCount {
    margin: 0 2rem 2rem;
    color: var(--TextColor);
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0.5rem;
    gap: 1rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard {
    width: 100%;
    height: 380px;
    background-color: transparent;
    padding-bottom: 1rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard img {
    width: 100%;
    height: 70%;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText {
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText h3 {
    padding-top: 0.5rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText p {
    font-size: var(--SmallFontSize);
    width: 200px;
  }
}
@media only screen and (max-width: 580px) {
  .navDiv {
    z-index: 1000;
  }
  .access__Section {
    top: 15%;
    padding: 0;
  }
  .access__Section .search__Container {
    display: none;
  }
  .access__Section .search__Container input {
    display: none;
  }
  .access__Section .access__topMenu {
    padding: 0 1.5rem;
  }
  .access__Section .access__topMenu h1 {
    font-size: var(--h1FontSize);
  }
  .access__Section .access__topMenu .access__buttonDiv {
    gap: 0.8rem;
    padding: 1.5rem 0;
    width: 95vw;
    flex-wrap: wrap;
  }
  .access__Section .access__topMenu .access__buttonDiv .access__mobileButton {
    display: flex;
    background-color: var(--InputColor);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .access__Section .access__topMenu .access__buttonDiv .access__mobileButton .icon {
    font-size: var(--h2FontSize);
    color: var(--TextColor);
  }
  .access__Section .access__topMenu .access__buttonDiv button {
    font-size: var(--SmallestFontSize);
  }
  .access__Section .access__bodyDiv {
    display: flex;
    padding: 0.5rem 0 1rem;
  }
  .access__Section .access__bodyDiv .access__leftMenu {
    display: none;
  }
  .access__Section .access__bodyDiv .access__leftMenu .access__leftList h3 {
    padding-left: 1rem;
  }
  .access__Section .access__bodyDiv #hidden {
    display: block;
    position: fixed;
    left: 0;
    top: 10%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: 90%;
    width: 60%;
    overflow-y: scroll;
    background-color: white;
    z-index: 1;
  }
  .access__Section .access__bodyDiv #hidden .closeBtn {
    display: flex;
    float: right;
    padding: 0 2rem;
    cursor: pointer;
  }
  .access__Section .access__bodyDiv .access__itemSection {
    justify-content: center;
    margin: 0 auto;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__topSmall {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__topSmall .access__itemCount {
    margin: 0 0.5rem 2rem;
    color: var(--TextColor);
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard {
    margin: 0;
    width: 100%;
    height: 360px;
    background-color: transparent;
    padding-bottom: 1rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard img {
    width: 100%;
    height: 60%;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText {
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText h3 {
    padding-top: 0.5rem;
  }
  .access__Section .access__bodyDiv .access__itemSection .access__itemLists .access__itemCard .access__itemText p {
    font-size: var(--SmallFontSize);
  }
}/*# sourceMappingURL=Accessories.css.map */