:root {
  --PrimaryColor: hsl(190, 100%, 50%);
  --HoverColor: #90ecff;
  --PaleColor: hsl(190, 72%, 70%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
  --BiggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormalFontSize: .938rem;
  --SmallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

.topSection {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2;
}
.topSection .topDiv {
  display: relative;
  padding: 1rem 3rem;
}
.topSection .topDiv .searchDiv {
  padding: 0.3rem 1rem;
  float: left;
  display: flex;
  align-items: center;
}
.topSection .topDiv .searchDiv .search__Container {
  border: 1px solid var(--GreyText);
  border-radius: 2rem;
  padding: 0.3rem 2rem;
}
.topSection .topDiv .searchDiv .search__Container input {
  border: none;
  outline: none;
  font-size: 1rem;
}
.topSection .topDiv .searchDiv .small-icon {
  display: none;
}
.topSection .topDiv .logo {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
  color: var(--BlackColor);
}
.topSection .topDiv .logo a {
  text-decoration: none;
  color: var(--BlackColor);
}
.topSection .topDiv .iconDiv {
  display: flex;
  float: right;
  gap: 1rem;
  font-size: var(--h1FontSize);
}
.topSection .topDiv .mobileNavPage {
  display: none;
}
.topSection nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 4rem 1rem;
}
.topSection nav ul li {
  font-weight: 600;
  list-style-type: none;
  color: var(--BlackColor);
}
.topSection nav ul li a:hover {
  color: red;
}
.topSection .banner {
  background-color: black;
  text-align: center;
  color: white;
  padding: 0.6rem 0;
  font-size: var(--SmallFontSize);
}
.topSection .mobileNav {
  display: none;
  height: 0;
}

@media only screen and (max-width: 1024px) {
  .topSection .mobileNav {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: black;
    bottom: 0;
    color: var(--WhiteColor);
    justify-content: space-around;
    display: flex;
    z-index: 2;
    padding: 0.2rem 0.5rem;
  }
  .topSection .mobileNav a {
    color: white;
  }
  .topSection .mobileNav .iconDiv {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
    padding: 0.5rem;
    text-align: center;
  }
  .topSection .mobileNav .iconDiv .icon2 {
    font-size: 1.5rem;
  }
  .topSection .mobileNav .iconDiv p {
    font-size: var(--SmallFontSize);
  }
  .topSection .topDiv {
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
  }
  .topSection .topDiv .searchDiv {
    padding: 0;
  }
  .topSection .topDiv .searchDiv .search__Container {
    display: none;
  }
  .topSection .topDiv .searchDiv .small-icon {
    display: flex;
    font-size: var(--h1FontSize);
    color: var(--BlackColor);
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .topSection .topDiv .logo {
    font-size: var(--SmallFontSize);
    top: 30%;
  }
  .topSection .topDiv .iconDiv .linkText .person,
  .topSection .topDiv .iconDiv .linkText .heart {
    display: none;
  }
  .topSection .topDiv #hidden {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    justify-content: center;
  }
  .topSection .topDiv #hidden .mobileNavPage__searchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topSection .topDiv #hidden .mobileNavPage__searchDiv .mobileNavPage__searchContainer {
    border: 1px solid var(--GreyText);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  }
  .topSection .topDiv #hidden .mobileNavPage__searchDiv .mobileNavPage__searchContainer input {
    border: none;
    outline: none;
    font-size: 1rem;
  }
  .topSection .topDiv #hidden .mobileNavPage__searchDiv .closeBtn {
    padding: 0 0.5rem;
    cursor: pointer;
  }
  .topSection .topDiv #hidden .dropdown {
    padding: 1rem 4rem;
    background-color: transparent;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
  .topSection .topDiv #hidden .dropdown .dropdown-row {
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
  }
  .topSection .topDiv #hidden .dropdown .dropdown-row:hover {
    background-color: black;
    color: white;
  }
  nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 896px) {
  .topSection .topDiv {
    margin-bottom: 1rem;
  }
  .topSection .topDiv .searchDiv {
    border: none;
    width: 60px;
  }
  .topSection .topDiv .searchDiv input {
    display: none;
  }
  .topSection .topDiv .searchDiv .small-icon {
    margin-bottom: 0.5rem;
  }
  .topSection .topDiv .logo {
    font-size: var(--SmallestFontSize);
    top: 30%;
  }
  nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 580px) {
  .topSection {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
  }
  .topSection .topDiv {
    display: relative;
    padding: 1rem 3rem;
  }
  .topSection .topDiv .searchDiv {
    padding: 0 1rem;
    float: left;
    display: flex;
  }
  .topSection .topDiv .searchDiv .small-icon {
    font-size: var(--h1FontSize) !important;
    color: var(--BlackColor);
  }
  .topSection .topDiv .logo {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: var(--BlackColor);
  }
  .topSection .topDiv .logo a {
    text-decoration: none;
    color: var(--BlackColor);
  }
  .topSection .topDiv .iconDiv .linkText .bag {
    font-size: var(--h2FontSize);
  }
  .topSection nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 4rem 1rem;
  }
  .topSection nav ul li {
    font-weight: 600;
    list-style-type: none;
    color: var(--BlackColor);
  }
  .topSection nav ul li a:hover {
    color: red;
  }
  .topSection .hidden {
    height: 4rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: -80px;
    transition: 0.3s linear;
  }
}/*# sourceMappingURL=Navbar.css.map */