:root {
    --PrimaryColor: hsl(190, 100%, 50%);
    --HoverColor: #90ecff;
    --PaleColor: hsl(190, 72%, 70%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --TextColor: hsl(240, 1%, 48%);
    --BgColor: hsl(220, 10%, 94%);
    --GreyText: rgb(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);

    --BiggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --NormalFontSize: .938rem;
    --SmallFontSize: .813rem;
    --SmallestFontSize: .75rem;
}


.topSection {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;

    .topDiv {
        display: relative;
        padding: 1rem 3rem;

        .searchDiv {
            padding: .3rem 1rem;
            float: left;
            display: flex;
            align-items: center;

            .search__Container {
                border: 1px solid var(--GreyText);
                border-radius: 2rem;
                padding: .3rem 2rem;

                input {
                    border: none;
                    outline: none;
                    font-size: 1rem;
                }
            }

            .small-icon {
                display: none;
            }
        }

        .logo {
            margin: 0;
            position: absolute;
            left: 50%;
            top: 22%;
            transform: translate(-50%, -50%);
            color: var(--BlackColor);

            a {
                text-decoration: none;
                color: var(--BlackColor);
            }
        }

        .iconDiv {
            display: flex;
            float: right;
            gap: 1rem;
            font-size: var(--h1FontSize);
        }

        .mobileNavPage {
            display: none;
        }
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 3rem 4rem 1rem;

        li {
            font-weight: 600;
            list-style-type: none;
            color: var(--BlackColor);

            a {
                &:hover {
                    color: red;
                }
            }
        }
    }

    .banner {
        background-color: black;
        text-align: center;
        color: white;
        padding: .6rem 0;
        font-size: var(--SmallFontSize);
    }

    .mobileNav {
        display: none;
        height: 0;
    }
}





@media only screen and (max-width: 1024px) {
    .topSection {
        .mobileNav {
            width: 100%;
            position: fixed;
            height: 70px;
            background-color: black;
            bottom: 0;
            color: var(--WhiteColor);
            justify-content: space-around;
            display: flex;
            z-index: 2;
            padding: .2rem .5rem;

            a {
                color: white;
            }

            .iconDiv {
                justify-content: center;
                align-items: center;
                margin: auto;
                display: block;
                padding: .5rem;
                text-align: center;

                .icon2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: var(--SmallFontSize);
                }

            }
        }
        .topDiv {
            margin-bottom: 1.5rem;
            padding: 1rem 3rem;

            .searchDiv {
                padding: 0;
    
                .search__Container {
                    display: none;
                }
    
                .small-icon {
                    display: flex;
                    font-size: var(--h1FontSize);
                    color: var(--BlackColor);
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
            .logo {
                font-size: var(--SmallFontSize);
                top: 30%;
            }

            .iconDiv {
                .linkText {
                    .person,
                    .heart {
                        display: none;
                    }
                }
            }
            #hidden {
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                padding: 1rem 0;
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                z-index: 1;
                justify-content: center;

                .mobileNavPage__searchDiv {
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    .mobileNavPage__searchContainer {
                        border: 1px solid var(--GreyText);
                        border-radius: 2rem;
                        padding: .5rem 2rem;
        
                        input {
                            border: none;
                            outline: none;
                            font-size: 1rem;
                        }

                    }
                    .closeBtn {
                        padding: 0 .5rem;
                        cursor: pointer;
                    }
                }

                .dropdown {
                    padding: 1rem 4rem;
                    background-color: transparent;
                    width: 100%;
                    height: 80%;
                    overflow-y: scroll;
                    
                    .dropdown-row {
                        background-color: white;
                        text-align: center;
                        margin: 1rem 0;
                        padding: .5rem 0;
                        cursor: pointer;

                        &:hover {
                            background-color: black;
                            color: white;
                        } 
                    }
                }
            }
        }
    }



    nav ul {
        display: none !important;
    }
}


@media only screen and (max-width: 896px) {
    .topSection {
        .topDiv {
            margin-bottom: 1rem;

            .searchDiv {
                border: none;
                width: 60px;

                input {
                    display: none;
                }

                .small-icon {
                    margin-bottom: .5rem;
                }
            }

            .logo {
                font-size: var(--SmallestFontSize);
                top: 30%;
            }
        }
    }



    nav ul {
        display: none !important;
    }
    
}


@media only screen and (max-width: 580px) {
    .topSection {
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 2;

        .topDiv {
            display: relative;
            padding: 1rem 3rem;

            .searchDiv {
                padding: 0 1rem;
                float: left;
                display: flex;

                .small-icon {
                    font-size: var(--h1FontSize) !important;
                    color: var(--BlackColor);
                }
            }

            .logo {
                margin: 0;
                position: absolute;
                left: 50%;
                top: 30%;
                transform: translate(-50%, -50%);
                color: var(--BlackColor);

                a {
                    text-decoration: none;
                    color: var(--BlackColor);
                }
            }

            .iconDiv {
                .linkText {
                    .bag {
                        font-size: var(--h2FontSize);
                    }
                }
            }
        }


        nav ul {
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin: 3rem 4rem 1rem;

            li {
                font-weight: 600;
                list-style-type: none;
                color: var(--BlackColor);

                a {
                    &:hover {
                        color: red;
                    }
                }
            }
        }


        .hidden {
            height: 4rem;
            width: 100%;
            z-index: 40;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
            position: fixed;
            top: -80px;
            transition: 0.3s linear;

        }
    }

}