:root {
  --PrimaryColor: hsl(190, 100%, 50%);
  --HoverColor: #90ecff;
  --PaleColor: hsl(190, 72%, 70%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
  --BiggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormalFontSize: .938rem;
  --SmallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

.footerDiv {
  display: block;
  padding: 1rem 7rem 4rem;
  border-top: 1px solid var(--InputColor);
}
.footerDiv .textLink {
  display: flex;
  color: var(--TextColor);
  gap: 2rem;
  padding: 2rem 0;
}
.footerDiv .help-btn {
  padding: 0 0 2rem;
}
.footerDiv .help-btn button {
  background: transparent;
  border: 1px solid black;
  font-size: var(--h2FontSize);
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
}
.footerDiv .storeDiv {
  padding: 0 0 2rem;
  display: block;
}
.footerDiv .storeDiv h3 {
  padding: 1rem 0;
}
.footerDiv .storeDiv .store-btn {
  display: flex;
  gap: 1rem;
}
.footerDiv .storeDiv .store-btn button {
  background: transparent;
  border: 1px solid var(--GreyText);
  font-size: var(--h3FontSize);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footerDiv .storeDiv .store-btn button .icon2 {
  font-size: 2rem;
}
.footerDiv .socialDiv {
  display: flex;
  gap: 1rem;
}
.footerDiv .socialDiv .social-btn {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 100%;
}
.footerDiv .socialDiv .icon {
  font-size: 1.5rem;
  color: var(--WhiteColor);
  position: relative;
  top: 20%;
  left: 20%;
}
.footerDiv .policy {
  padding: 3rem 0 5rem;
  line-height: 1.5rem;
  color: var(--TextColor);
}

@media only screen and (max-width: 768px) {
  .footerDiv {
    display: block;
    padding: 1.5rem;
    border-top: 1px solid var(--InputColor);
  }
  .footerDiv .textLink {
    font-size: var(--SmallFontSize);
    gap: 0.5rem;
  }
  .footerDiv .help-btn {
    padding: 0 0 2rem;
  }
  .footerDiv .help-btn button {
    background: transparent;
    border: 1px solid black;
    font-size: var(--h2FontSize);
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    width: 100%;
  }
  .footerDiv .storeDiv {
    padding: 0 0 2rem;
    display: block;
  }
  .footerDiv .storeDiv h3 {
    padding: 1rem 0;
  }
  .footerDiv .storeDiv .store-btn {
    display: flex;
    gap: 1rem;
  }
  .footerDiv .storeDiv .store-btn button {
    font-size: var(--SmallFontSize);
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .footerDiv .storeDiv .store-btn button .icon2 {
    font-size: var(--BiggestFontSize);
  }
  .footerDiv .storeDiv .store-btn button .storeText {
    text-align: left;
  }
  .footerDiv .storeDiv .store-btn button .storeText h2 {
    font-size: var(--NormalFontSize);
  }
  .footerDiv .socialDiv {
    display: flex;
    gap: 1rem;
  }
  .footerDiv .socialDiv .social-btn {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
  }
  .footerDiv .socialDiv .icon {
    font-size: 1.5rem;
    color: var(--WhiteColor);
    position: relative;
    top: 20%;
    left: 20%;
  }
  .policy {
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 580px) {
  .footerDiv {
    display: block;
    padding: 0 1.5rem;
    border-top: 1px solid var(--InputColor);
  }
  .footerDiv .help-btn button {
    font-size: var(--h3FontSize);
  }
  .footerDiv .help-btn .storeDiv .store-btn button .storeText {
    text-align: left;
  }
  .footerDiv .help-btn .storeDiv .store-btn button .storeText p {
    font-size: var(--SmallestFontSize);
  }
  .footerDiv .help-btn .socialDiv {
    display: flex;
    gap: 1rem;
  }
  .footerDiv .help-btn .socialDiv .social-btn {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
  }
  .footerDiv .help-btn .socialDiv .icon {
    font-size: 1.5rem;
    color: var(--WhiteColor);
    position: relative;
    top: 20%;
    left: 20%;
  }
  .footerDiv .policy {
    padding: 2rem 0;
  }
}/*# sourceMappingURL=Footer.css.map */