@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
  --PrimaryColor: hsl(190, 100%, 50%);
  --HoverColor: #90ecff;
  --PaleColor: hsl(190, 72%, 70%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);

  --BiggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormalFontSize: .938rem;
  --SmallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--BlackColor);
}

li {
  list-style: none;
}

.icon {
  color: var(--BlackColor);
  font-size: var(--h1FontSize);
}

button {
  border: none;
  cursor: pointer;
  color: black;
}

select {
  color: black;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
